.game-board {
    display: grid;
    grid-template-columns: repeat(6, 100px);
    grid-template-rows: repeat(2, 100px);    
    gap: 15px;                              
    justify-content: center;               
  }
  
  .card {
    width: 100px;
    height: 112px;
    cursor: pointer;
  }
  
  .card img {
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    transition: transform 0.100s;
  }
  
  .card.flipped img {
    transform: rotateY(360deg);
  }
  